/* Write your CSS code here */
* {
  font-family: 'Roboto';
}
.nav-header {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  margin-left: -40px;
}
.wave-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  color: #551e53;
  font-family: 'Roboto';
  font-weight: 700;
}

.wave {
  width: 35px;
  margin-right: 10px;
}

.blog-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.blog-title {
  font-family: 'Roboto';
  color: white;
  font-size: 16px;
}
.sub-title {
  color: white;
  font-family: 'Roboto';
  margin-top: 0px;
}

li {
  list-style-type: none;
  text-decoration: none;
  margin: 10px;
  color: white;
  font-family: 'Roboto';
  cursor: pointer;
}

@media screen and (min-width: 575px) {
  .blog-title {
    font-family: 'Roboto';
    color: white;
    font-size: 34px;
  }
  .nav-link {
    font-size: 22px;
  }
}
